Следующие 2 ячейки выполнять не нужно. Они нужны лишь для работы в Google Colab

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# cd /content/drive/My Drive/Colab Notebooks/data

/content/drive/My Drive/Colab Notebooks/data

Запускать можно код, начиная со следующей ячейки

In [1]:
import pandas as pd
import numpy as np

In [2]:
flags_descripts = ["country", "zone", "square", "population", "continent_by_square", "continent_by_population","language","religion",
                   "vertical_count","horizontal_count","colors_count","has_red","has_green","has_blue","has_gold","has_white",
                   "has_black","has_orange", "dominant_color"]

In [3]:
df_train = pd.read_csv('Flags.csv', names=flags_descripts, sep=";")
print (df_train.shape)

(194, 19)

In [4]:
print (df_train)

                  country  zone  square  population  continent_by_square  \
0             Afghanistan     1     648          16                    1
1                 Albania     1      29           3                    5
2                 Algeria     1    2388          20                    2
3          American-Samoa     3       0           0                    6
4                 Andorra     1       0           0                    5
5                  Angola     2    1247           7                    2
6                Anguilla     4       0           0                    3
7         Antigua-Barbuda     4       0           0                    3
8               Argentina     3    2777          28                    4
9               Argentine     3    2777          28                    4
10              Australia     2    7690          15                    6
11                Austria     1      84           8                    5
12                Bahamas     4      19           0                    3
13                Bahrain     1       1           0                    1
14             Bangladesh     1     143          90                    1
15               Barbados     4       0           0                    3
16                Belgium     1      31          10                    5
17                 Belize     4      23           0                    3
18                  Benin     1     113           3                    2
19                Bermuda     4       0           0                    3
20                 Bhutan     1      47           1                    1
21                Bolivia     3    1099           6                    4
22               Botswana     2     600           1                    2
23                 Brazil     3    8512         119                    4
24   British-Virgin-Isles     4       0           0                    3
25                 Brunei     1       6           0                    1
26               Bulgaria     1     111           9                    5
27                Burkina     4     274           7                    2
28                  Burma     1     678          35                    1
29                Burundi     2      28           4                    2
..                    ...   ...     ...         ...                  ...
164             Swaziland     2      17           1                    2
165                Sweden     1     450           8                    5
166           Switzerland     1      41           6                    5
167                 Syria     1     185          10                    1
168                Taiwan     1      36          18                    1
169              Tanzania     2     945          18                    2
170              Thailand     1     514          49                    1
171                  Togo     1      57           2                    2
172                 Tonga     2       1           0                    6
173       Trinidad-Tobago     4       5           1                    4
174               Tunisia     1     164           7                    2
175                Turkey     1     781          45                    1
176   Turks-Cocos-Islands     4       0           0                    3
177                Tuvalu     2       0           0                    6
178                   UAE     1      84           1                    1
179                Uganda     1     236          13                    2
180                    UK     4     245          56                    5
181               Uruguay     3     178           3                    4
182                   USA     4    9363         231                    3
183                  USSR     1   22402         274                    1
184       US-Virgin-Isles     4       0           0                    3
185               Vanuatu     2      15           0                    6
186          Vatican-City     1       0           0                    5
187             Venezuela     4     912          15                    4
188               Vietnam     1     333          60                    1
189         Western-Samoa     3       3           0                    6
190            Yugoslavia     1     256          22                    5
191                 Zaire     2     905          28                    2
192                Zambia     2     753           6                    2
193              Zimbabwe     2     391           8                    2

     continent_by_population  language  religion  vertical_count  \
0                          1        10         2               0
1                          3         6         6               0
2                          2         8         2               2
3                          6         1         1               0
4                          3         6         0               3
5                          2        10         5               0
6                          4         1         1               0
7                          4         1         1               0
8                          5         2         0               0
9                          5         2         0               0
10                         6         1         1               0
11                         3         4         0               0
12                         4         1         1               0
13                         1         8         2               0
14                         1         6         2               0
15                         4         1         1               3
16                         3         6         0               3
17                         4         1         1               0
18                         2         3         5               0
19                         4         1         1               0
20                         1        10         3               0
21                         5         2         0               0
22                         2        10         5               0
23                         5         6         0               0
24                         4         1         1               0
25                         1        10         2               0
26                         3         5         6               0
27                         2         3         5               0
28                         1        10         3               0
29                         2        10         5               0
..                       ...       ...       ...             ...
164                        2        10         1               0
165                        3         6         1               0
166                        3         4         1               0
167                        1         8         2               0
168                        1         7         3               0
169                        2        10         5               0
170                        1        10         3               0
171                        2         3         7               0
172                        6        10         1               0
173                        5         1         1               0
174                        2         8         2               0
175                        1         9         2               0
176                        4         1         1               0
177                        6         1         1               0
178                        1         8         2               1
179                        2        10         5               0
180                        3         1         1               0
181                        5         2         0               0
182                        4         1         1               0
183                        1         5         6               0
184                        4         1         1               0
185                        6         6         1               0
186                        3         6         0               2
187                        5         2         0               0
188                        1        10         6               0
189                        6         1         1               0
190                        3         6         6               0
191                        2        10         5               0
192                        2        10         5               3
193                        2        10         5               0

     horizontal_count  colors_count  has_red  has_green  has_blue  has_gold  \
0                   3             5        1          1         0         1
1                   0             3        1          0         0         1
2                   0             3        1          1         0         0
3                   0             5        1          0         1         1
4                   0             3        1          0         1         1
5                   2             3        1          0         0         1
6                   1             3        0          0         1         0
7                   1             5        1          0         1         1
8                   3             2        0          0         1         0
9                   3             3        0          0         1         1
10                  0             3        1          0         1         0
11                  3             2        1          0         0         0
12                  3             3        0          0         1         1
13                  0             2        1          0         0         0
14                  0             2        1          1         0         0
15                  0             3        0          0         1         1
16                  0             3        1          0         0         1
17                  2             8        1          1         1         1
18                  0             2        1          1         0         0
19                  0             6        1          1         1         1
20                  0             4        1          0         0         0
21                  3             3        1          1         0         1
22                  5             3        0          0         1         0
23                  0             4        0          1         1         1
24                  0             6        1          1         1         1
25                  0             4        1          0         0         1
26                  3             5        1          1         1         1
27                  2             3        1          1         0         1
28                  0             3        1          0         1         0
29                  0             3        1          1         0         0
..                ...           ...      ...        ...       ...       ...
164                 5             7        1          0         1         1
165                 0             2        0          0         1         1
166                 0             2        1          0         0         0
167                 3             4        1          1         0         0
168                 0             3        1          0         1         0
169                 0             4        0          1         1         1
170                 5             3        1          0         1         0
171                 5             4        1          1         0         1
172                 0             2        1          0         0         0
173                 0             3        1          0         0         0
174                 0             2        1          0         0         0
175                 0             2        1          0         0         0
176                 0             6        1          1         1         1
177                 0             5        1          0         1         1
178                 3             4        1          1         0         0
179                 6             5        1          0         0         1
180                 0             3        1          0         1         0
181                 9             3        0          0         1         1
182                13             3        1          0         1         0
183                 0             2        1          0         0         1
184                 0             6        1          1         1         1
185                 0             4        1          1         0         1
186                 0             4        1          0         0         1
187                 3             7        1          1         1         1
188                 0             2        1          0         0         1
189                 0             3        1          0         1         0
190                 3             4        1          0         1         1
191                 0             4        1          1         0         1
192                 0             4        1          1         0         0
193                 7             5        1          1         0         1

     has_white  has_black  has_orange dominant_color
0            1          1           0          green
1            0          1           0            red
2            1          0           0          green
3            1          0           1           blue
4            0          0           0           gold
5            0          1           0            red
6            1          0           1          white
7            1          1           0            red
8            1          0           0           blue
9            1          0           0           blue
10           1          0           0           blue
11           1          0           0            red
12           0          1           0           blue
13           1          0           0            red
14           0          0           0          green
15           0          1           0           blue
16           0          1           0           gold
17           1          1           1           blue
18           0          0           0          green
19           1          1           0            red
20           1          1           1         orange
21           0          0           0            red
22           1          1           0           blue
23           1          0           0          green
24           1          0           1           blue
25           1          1           0           gold
26           1          0           0            red
27           0          0           0            red
28           1          0           0            red
29           1          0           0            red
..         ...        ...         ...            ...
164          1          1           1           blue
165          0          0           0           blue
166          1          0           0            red
167          1          1           0            red
168          1          0           0            red
169          0          1           0          green
170          1          0           0            red
171          1          0           0          green
172          1          0           0            red
173          1          1           0            red
174          1          0           0            red
175          1          0           0            red
176          1          0           1           blue
177          1          0           0           blue
178          1          1           0          green
179          1          1           0           gold
180          1          0           0            red
181          1          0           0          white
182          1          0           0          white
183          0          0           0            red
184          1          0           0          white
185          0          1           0            red
186          1          1           0           gold
187          1          1           1            red
188          0          0           0            red
189          1          0           0            red
190          1          0           0            red
191          0          0           1          green
192          0          1           1          green
193          1          1           0          green

[194 rows x 19 columns]

In [5]:
name_scale = ["country", "zone", "language", "has_red", "has_green", "has_blue", "has_gold", "has_white", "has_black", "has_orange", "dominant_color"]
strong_scale = ["square", "population", "vertical_count", "horizontal_count","colors_count"]
order_scale = ["continent_by_square", "continent_by_population"]

In [6]:
def calculate_strong_scale_dists(np_strong_scale_array):
  
  np_strong_scale_array = np_strong_scale_array[:,np.newaxis]
  tmp_dists = np.zeros((np_strong_scale_array.shape[0], np_strong_scale_array.shape[0]), np.float)
  
  for i in range(np_strong_scale_array.shape[0]):
     tmp_dists[i] = np.sum(np.abs(np_strong_scale_array - np_strong_scale_array[i]) / np.abs(np.max(np_strong_scale_array) - np.min(np_strong_scale_array)), axis = 1)  

  return list(tmp_dists)

In [7]:
def calculate_name_scale_dists(np_name_scale_array):
  tmp_dists = np.zeros((np_name_scale_array.shape[0], np_name_scale_array.shape[0]), np.float)
  for i in range(np_name_scale_array.shape[0]):
    for j in range(np_name_scale_array.shape[0]):
      for k in range(np_name_scale_array.shape[0]):
        if (((np_name_scale_array[i] == np_name_scale_array[k]) and (np_name_scale_array[j] != np_name_scale_array[k]))
        or (np_name_scale_array[i] != np_name_scale_array[k]) and (np_name_scale_array[j] == np_name_scale_array[k])):
          tmp_dists += 1.0
  tmp_dists / np_name_scale_array.shape[0]
  return list(tmp_dists)

In [8]:
def calculate_order_scale_dists(np_order_scale_array):
  tmp_dists = np.zeros((np_order_scale_array.shape[0], np_order_scale_array.shape[0]), np.float)
  for i in range(np_order_scale_array.shape[0]):
    for j in range(np_order_scale_array.shape[0]):
      for k in range(np_order_scale_array.shape[0]):

        if (((np_order_scale_array[i] > np_order_scale_array[k]) and (np_order_scale_array[j] < np_order_scale_array[k]))
        or ((np_order_scale_array[i] < np_order_scale_array[k]) and (np_order_scale_array[j] > np_order_scale_array[k]))):
          tmp_dists += 1.0

        elif (((np_order_scale_array[i] != np_order_scale_array[k]) and (np_order_scale_array[j] == np_order_scale_array[k]))
        or ((np_order_scale_array[i] == np_order_scale_array[k]) and (np_order_scale_array[j] != np_order_scale_array[k]))):
          tmp_dists += 0.5
  tmp_dists / (np_order_scale_array.shape[0] - 1)
  return list(tmp_dists)

In [ ]:
name_scale_dists = []
for i in name_scale:
  name_scale_dists.append(calculate_name_scale_dists(np.array(df_train[i])))

order_scale_dists = []
for i in order_scale:
  order_scale_dists.append(calculate_order_scale_dists(df_train[i]))

strong_scale_dists = []
for i in strong_scale:
  strong_scale_dists.append(calculate_strong_scale_dists(np.array(df_train[i])))

In [ ]:
for i in range(len(strong_scale)):
  for j in range(df_train.shape[0]):
    for k in range(df_train.shape[0]):
      if (j == k):
        assert strong_scale_dists[i][j][k] == 0.0
      else:
        assert strong_scale_dists[i][j][k] == strong_scale_dists[i][k][j]

In [ ]:
dists = np.zeros((df_train.shape[0], df_train.shape[0]), np.float)

for i in range(len(name_scale)):
  np_name_scale_dists = np.array(name_scale_dists[i])
  np_name_scale_dists = np.power(np_name_scale_dists, 2)
  dists = np.sum(dists, np_name_scale_dists)

# for i in range(len(order_scale)):
#   np_order_scale_dists = np.array(order_scale_dists[i])
#   dists = np.sum(dists, np.power(np_order_scale_dists, 2))

# for i in range(len(order_scale)):
#   np_strong_scale_dists = np.array(nstrong_scale_dists[i])
#   dists = np.sum(dists, np.power(np_strong_scale_dists), 2)

# n = len(name_scale) + len(order_scale) + len(strong_scale)
# dists = 1/sqrt(n) * np.power(dists, 0.5)

TypeError: ignored